In [1]:
import json
from tqdm import tqdm
import seaborn as sns
import pandas as pd
import numpy as np

# Contents

In [2]:
def stats_data(name):

    n_lines = 0
    data_lst = []
    with open(f'data/{name}.jsonl') as f:
        for l in f:
            n_lines += 1

    with open(f'data/{name}.jsonl') as f:
        for l in tqdm(f):
            data_lst.append(json.loads(l))
    
    # table id
    table_id_lst = []
    for d in data_lst:
        table_id_lst.append(d['table_id'])

    # the number of questions
    nb_question = len(data_lst)
    
    return data_lst, list(set(table_id_lst)), nb_question

In [3]:
name = 'train'
train_lst, train_table_id_lst, train_nb_question = stats_data(name)
print(f'[{name.upper()}] the number of table id: {len(train_table_id_lst)}')
print(f'[{name.upper()}] the number of quesetion: {train_nb_question}')

56355it [00:00, 113872.59it/s]

[TRAIN] the number of table id: 17984
[TRAIN] the number of quesetion: 56355

In [4]:
name = 'dev'
dev_lst, dev_table_id_lst, dev_nb_question = stats_data(name)
print(f'[{name.upper()}] the number of table id: {len(dev_table_id_lst)}')
print(f'[{name.upper()}] the number of quesetion: {dev_nb_question}')

8421it [00:00, 61212.62it/s]

[DEV] the number of table id: 2630
[DEV] the number of quesetion: 8421

In [5]:
name = 'test'
test_lst, test_table_id_lst, test_nb_question = stats_data(name)
print(f'[{name.upper()}] the number of table id: {len(test_table_id_lst)}')
print(f'[{name.upper()}] the number of quesetion: {test_nb_question}')

15878it [00:00, 144315.88it/s]

[TEST] the number of table id: 5069
[TEST] the number of quesetion: 15878

In [7]:
total_nb_table = len(train_table_id_lst) + len(dev_table_id_lst) + len(test_table_id_lst)
print('[TOTAL] the number of table id: ',total_nb_table)

[TOTAL] the number of table id:  25683

In [8]:
total_unique_nb_table = len(set(train_table_id_lst + dev_table_id_lst + test_table_id_lst))
print('[TOTAL] the number of unique table id: ',total_unique_nb_table)

[TOTAL] the number of unique table id:  25683

## Word [TRAIN - DEV - TEST]

In [24]:
train_question = [" ".join(d['question'].split()) for d in train_lst]
dev_question = [" ".join(d['question'].split()) for d in dev_lst]
test_question = [" ".join(d['question'].split()) for d in test_lst]

In [26]:
train_len_word = [len(q.split()) for q in train_question]
dev_len_word = [len(q.split()) for q in dev_question]
test_len_word = [len(q.split()) for q in test_question]

In [29]:
print('[TRAIN]')
print('the number of words: ',sum(train_len_word))

pd.Series(train_len_word).describe()

[TRAIN]
the number of words:  655840

count    56355.000000
mean        11.637654
std          4.486301
min          3.000000
25%          8.000000
50%         11.000000
75%         14.000000
max         44.000000
dtype: float64

In [30]:
print('[DEV]')
print('the number of words: ',sum(dev_len_word))

pd.Series(dev_len_word).describe()

[DEV]
the number of words:  98766

count    8421.000000
mean       11.728536
std         4.621717
min         3.000000
25%         8.000000
50%        11.000000
75%        14.000000
max        58.000000
dtype: float64

In [31]:
print('[TEST]')
print('the number of words: ',sum(test_len_word))

pd.Series(test_len_word).describe()

[TEST]
the number of words:  185598

count    15878.000000
mean        11.689004
std          4.572430
min          3.000000
25%          8.000000
50%         11.000000
75%         14.000000
max         43.000000
dtype: float64

## Word [TRAIN - DEV - TEST]

In [33]:
train_len_character = [len(q) for q in train_question]
dev_len_character = [len(q) for q in dev_question]
test_len_character = [len(q) for q in test_question]

In [34]:
print('[TRAIN]')
print('the number of characters: ',sum(train_len_character))

pd.Series(train_len_character).describe()

[TRAIN]
the number of characters:  3436711

count    56355.000000
mean        60.983249
std         23.601254
min         12.000000
25%         44.000000
50%         57.000000
75%         74.000000
max        244.000000
dtype: float64

In [35]:
print('[DEV]')
print('the number of characters: ',sum(dev_len_character))

pd.Series(dev_len_character).describe()

[DEV]
the number of characters:  514689

count    8421.000000
mean       61.119701
std        24.063118
min        16.000000
25%        43.000000
50%        57.000000
75%        74.000000
max       275.000000
dtype: float64

In [36]:
print('[TEST]')
print('the number of characters: ',sum(test_len_character))

pd.Series(test_len_character).describe()

[TEST]
the number of characters:  971670

count    15878.000000
mean        61.195994
std         23.978019
min         17.000000
25%         44.000000
50%         57.000000
75%         74.000000
max        231.000000
dtype: float64

# Tables

In [9]:
def stats_table(name):

    n_lines = 0
    table_lst = []
    with open(f'data/{name}.tables.jsonl') as f:
        for l in f:
            n_lines += 1

    with open(f'data/{name}.tables.jsonl') as f:
        for l in tqdm(f):
            table_lst.append(json.loads(l))
    
    # table id
    table_id_lst = []
    for d in table_lst:
        table_id_lst.append(d['id'])

    # header 
    header_lst = []
    for idx, d in enumerate(table_lst):
        header_lst.append(d['header'])
    
    # type
    type_lst = []
    for d in table_lst:
        type_lst.append(d['types'])
    
    # row
    nb_row_lst = [] 
    for d in table_lst:
        nb_row_lst.append(len(d['rows']))
        
    return table_lst, table_id_lst, header_lst, type_lst, nb_row_lst

## Train info

In [10]:
name = 'train'
train_table_info = stats_table(name)

18585it [00:00, 19062.85it/s]

In [11]:
print('the number of table in train: ',len(train_table_info[0]))
print('the number of table id in train: ',len(set(train_table_info[1])))
print('the number of total header: ',sum(list(map(len,train_table_info[2]))))
print()
print('description of the number of header in train')
print(pd.Series(list(map(len,train_table_info[2]))).describe())
print()
print('the number of unique header: ',len(set(sum(train_table_info[2], []))))
print()
print('type value counts')
print(pd.Series(sum(train_table_info[3],[])).value_counts())
print()
print(pd.Series(sum(train_table_info[3],[])).value_counts(normalize=True) * 100)
print()
print('description of the number of row in train')
print(pd.Series(train_table_info[4]).describe())

the number of table in train:  18585
the number of table id in train:  18585
the number of total header:  118011

description of the number of header in train
count    18585.000000
mean         6.349798
std          1.727617
min          5.000000
25%          5.000000
50%          6.000000
75%          7.000000
max         44.000000
dtype: float64

the number of unique header:  15305

type value counts
text    89005
real    29006
dtype: int64

text    75.420935
real    24.579065
dtype: float64

description of the number of row in train
count    18585.000000
mean        17.098144
std         29.254070
min          5.000000
25%          7.000000
50%         11.000000
75%         18.000000
max       1956.000000
dtype: float64

## Dev info

In [12]:
name = 'dev'
dev_table_info = stats_table(name)

2716it [00:00, 35332.29it/s]

In [13]:
print('the number of table in dev: ',len(dev_table_info[0]))
print('the number of table id in dev: ',len(set(dev_table_info[1])))
print('the number of total header: ',sum(list(map(len,dev_table_info[2]))))
print()
print('description of the number of header in dev')
print(pd.Series(list(map(len,dev_table_info[2]))).describe())
print()
print('the number of unique header: ',len(set(sum(dev_table_info[2], []))))
print()
print('type value counts')
print(pd.Series(sum(dev_table_info[3],[])).value_counts())
print()
print(pd.Series(sum(dev_table_info[3],[])).value_counts(normalize=True) * 100)
print()
print('description of the number of row in dev')
print(pd.Series(dev_table_info[4]).describe())

the number of table in dev:  2716
the number of table id in dev:  2716
the number of total header:  17130

description of the number of header in dev
count    2716.000000
mean        6.307069
std         1.621211
min         5.000000
25%         5.000000
50%         6.000000
75%         7.000000
max        20.000000
dtype: float64

the number of unique header:  4025

type value counts
text    12824
real     4306
dtype: int64

text    74.862814
real    25.137186
dtype: float64

description of the number of row in dev
count    2716.000000
mean       16.480486
std        20.628039
min         5.000000
25%         7.000000
50%        11.000000
75%        19.000000
max       433.000000
dtype: float64

## Test info

In [14]:
name = 'test'
test_table_info = stats_table(name)

5230it [00:00, 11675.32it/s]

In [15]:
print('the number of table in test: ',len(test_table_info[0]))
print('the number of table id in test: ',len(set(test_table_info[1])))
print('the number of total header: ',sum(list(map(len,test_table_info[2]))))
print()
print('description of the number of header in test')
print(pd.Series(list(map(len,test_table_info[2]))).describe())
print()
print('the number of unique header: ',len(set(sum(test_table_info[2], []))))
print()
print('type value counts')
print(pd.Series(sum(test_table_info[3],[])).value_counts())
print()
print(pd.Series(sum(test_table_info[3],[])).value_counts(normalize=True) * 100)
print()
print('description of the number of row in test')
print(pd.Series(test_table_info[4]).describe())

the number of table in test:  5230
the number of table id in test:  5230
the number of total header:  33050

description of the number of header in test
count    5230.000000
mean        6.319312
std         1.628229
min         5.000000
25%         5.000000
50%         6.000000
75%         7.000000
max        23.000000
dtype: float64

the number of unique header:  6414

type value counts
text    24798
real     8252
dtype: int64

text    75.03177
real    24.96823
dtype: float64

description of the number of row in test
count    5230.000000
mean       18.411090
std        41.987367
min         5.000000
25%         7.000000
50%        12.000000
75%        19.000000
max      1950.000000
dtype: float64

## Table [TRAIN - DEV - TEST]

In [16]:
train_unique_nb_table = len(set(train_table_info[1]))
dev_unique_nb_table = len(set(dev_table_info[1]))
test_unique_nb_table = len(set(test_table_info[1]))

print('[TRAIN] the number of table id: ',train_unique_nb_table)
print('[DEV] the number of table id: ',dev_unique_nb_table)
print('[TEST] the number of table id: ',test_unique_nb_table)

[TRAIN] the number of table id:  18585
[DEV] the number of table id:  2716
[TEST] the number of table id:  5230

In [17]:
total_unique_nb_header = len(set(sum(train_table_info[2],[]) + sum(dev_table_info[2],[]) + sum(test_table_info[2],[])))
print('[TOTAL] the number of unique header: ',total_unique_nb_header)

[TOTAL] the number of unique header:  18881

## Header [TRAIN - DEV - TEST]

In [19]:
only_dev_header = len(set(sum(dev_table_info[2],[])) - set(sum(train_table_info[2],[])))
print('[DEV-TRAIN] the number of unique header: ',only_dev_header)

[DEV-TRAIN] the number of unique header:  1296

In [20]:
only_test_header = len(set(sum(test_table_info[2],[])) - set(sum(train_table_info[2],[])))
print('[TEST-TRAIN] the number of unique header: ',only_test_header)

[TEST-TRAIN] the number of unique header:  2419